@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/fonts/Inter-roman-latin.var.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url('/fonts/Inter-italic-latin.var.woff2') format('woff2');
}

.focus-border:focus {
  -moz-box-shadow: black 0px 0px 0px 2px;
  -webkit-box-shadow: black 0px 0px 0px 2px;
  box-shadow: black 0px 0px 0px 2px;
}

html {
  font-family: Inter var, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  -webkit-font-smoothing: antialiased;
}

html {
  font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
}

body {
  @apply text-gray-600;
}

button, input, textarea {
  font: inherit;
}

input[type="number"] {
  -moz-appearance: textfield;
}

* {
  &:focus:not(:focus-visible) {
    outline: none;
  }

  @apply outline-sky-500;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

button {
  &:hover:not(:focus-visible), &:focus:not(:focus-visible), &:active:not(:focus-visible) {
    outline: none;
  }
}

.scrollbar-none {
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
    background: transparent; /* Chrome/Safari/Webkit */
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}

::-webkit-scrollbar-track {
  @apply bg-slate-300/50
}

::-webkit-scrollbar-thumb {
  @apply bg-gradient-to-b from-slate-200 to-gray-400 dark:from-gray-400 dark:to-gray-800;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-200;
}

.range {

  @apply appearance-none flex  relative;
  &:before {
    content: "";
    @apply w-full h-full left-0 right-0 bg-gray-100 absolute;
  }

  //=============== TRACK ================
  &::-webkit-slider-runnable-track {
    @apply cursor-pointer h-1 w-full rounded-sm relative;
    background: linear-gradient(90deg, #EC4899 0%, #EC4899 var(--range-progress), transparent var(--range-progress), transparent 100%);

  }

  //=============== THUMB ================
  &::-webkit-slider-thumb {
    @apply text-pink-500 bg-pink-500 cursor-grab flex appearance-none w-4 h-4 transition-all rounded-full ;
    margin-top: calc((16px - 4px) * -1 / 2)
  }

  &:focus {
    &::-webkit-slider-thumb {
      @apply border-solid border-2 border-white;
      box-shadow: 0 0 0 1.5px rgb(236, 72, 153);
    }
  }

  &:active {
    &::-webkit-slider-thumb {
      transform: scale(1.5)
    }
  }
}

